*.txt

data/logs/20180704-log.txt
data/logs/20180625-log.txt
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
data/logs/20180705-log.txt
data/logs/20180705-log.txt
data/logs/20180705-log.txt
data/logs/20180705-log.txt
data/logs/20180705-log.txt
data/logs/20180705-log.txt
data/logs/20180705-log.txt
*.txt
nbproject/private/private.properties
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml
